.layoutContainer {
  display: grid;
  justify-items: center;
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 600ms;

  .innerContainer {
    width: 100%;
    max-width: 880px;
  }

  &.darkMode {
    background: linear-gradient(
      to bottom,
      rgb(5, 5, 20) 0%,
      rgb(1, 6, 10) 100%
    );
  }
}

@media screen and (min-width: 920px) {
  .innerContainer {
    font-size: 1.76rem;
  }
}
