.weatherByHour {
  display: none;
  width: 100%;

  .heading {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    font-weight: normal;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  .weatherByHour {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .weatherByHour {
    .heading {
      font-size: 1.125em;
    }
  }
}
