.item {
  padding: 1.44rem 0;
  flex: 1 0 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
  text-align: center;
}

.hour {
  margin-bottom: 0.9rem;
}

@media screen and (min-width: 880px) {
  .item {
    width: 13.3875rem;
  }
}
