.currentTemperature {
    display: flex;
    margin-top: 0.4rem;
    width: 100%;

    .iconContainer {
        flex-grow: 1.25;
        text-align: center;

        .icon {
            width: 16.8rem;
        }
    }

    .contentContainer {
        flex-grow: 1;
        text-align: center;

        .value {
            font-size: 8.4rem;
            font-weight: 300;
        }

        .summary {
            margin-top: -1.44rem;
            margin-left: -1.728rem;
            text-align: center;
            font-size: 1.8rem;
        }
    }
}

@media screen and (min-width: 700px) {
    .currentTemperature {
      width: 50%;
    }
}